
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3.amazonaws.com/wvmetro-uploads-prod/2015/06/Making-of-the-Mob.jpg");
  height: 250px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);  
  color: White;
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 15px;
}