@{
  Layout = "_Layout";
}

<h1>The Black Book</h1>
<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all Contractors", "Index", "Contractors")</p>
@* <p>@Html.ActionLink("See all Specialties", "Index", "Specialties")</p> *@