@{
  Layout = "_Layout";
}

@model IndependentContracts.Models.Organization

<h2>Are you sure you want to delete this Organization?</h2>

<p>@Model.Name</p>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Back to Organization", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>