@{
  Layout = "_Layout";
}

@model IndependentContracts.Models.Organization

<h2>Edit this Organization</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.OrganizationId)
<div class="form-group">
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { @class = "form-control", @required = true})
</div>

  
  <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Organization list", "Index")</p>