<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Client List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
     <div class="hero-image">
      <div class="hero-text">
        <h1>The Client List</h1>
        <h2>Like all things in the business,</h2>
        <h2>we'd tell, ya, but then we'd have to... ya know.</h2>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="container">
    @RenderBody()
    </div>
  </body>
</html>